

.appDisplayWrapper{
    width: 70%;
    margin: auto;
}
.card{
    background-color: #FFF;
    color: #000;
    border-color: transparent;
    text-align: left;
    box-shadow: 2px 2px 8px 0 #aaa;
    padding: 10px;
    /* font-size: 14px; */
   
}

.cardsGridwrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40vh,1fr));
    grid-gap: 10px;
    margin: auto;
    /* width: 70%; */
}

.searchWrapper{
    display: flex;
    margin: auto;
    justify-content: center;
    /* width: 40%; */
    margin-bottom: 10px;
    margin-top: 10px;
}
#searchField{
    flex: 4;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 4px;
    padding: 10px;
}
#searchProducts{
    flex:30px 1 0;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 4px;
    padding: 10px;
}

#searchProducts:hover{
    background-color: rgb(214, 214, 214);
    /* background-color: transparent; */
    cursor: pointer;
}